<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
    <add key="WebCreditService.WebCreditService" value="http://localhost:63089/WebCreditService.asmx"/>
  <add key="ImDb.WebService" value="http://localhost:53069/WebService.asmx"/>
  </appSettings>
</configuration>