<?xml version="1.0"?>
<configuration>
  <system.serviceModel>
    <bindings/>
    <client/>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true"/>
  </system.serviceModel>
  <system.web>
    <compilation debug="true" targetFramework="4.0"/>
  </system.web>
  <appSettings>
  <add key="ImDb.WebService" value="http://localhost:52721/WebService.asmx"/>
  </appSettings>
</configuration>